.dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dashboard-grid-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 'graph graph''peak time-slots';
    gap: 1.2rem;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.dashboard-retry {
    text-align: center;
    margin-top: 2rem;
}

.dashboard-box {
    background-color: var(--blocks-color);
    padding: 1.5rem;
    border-radius: 1rem;
}

.dashboard-graph-controls {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.dashboard-time-period-label {
    color: var(--purple-shade);
    background: transparent;
}

.input-select-dashboard {
    width: 15rem;
    height: 40px;
    border: 2px solid;
    border-radius: 0.5rem;
}

.dashboard-graph-container {
    grid-area: graph;
}

.dashboard-graph-box {
    width: 98%;
    margin: 1%;
}

.back-to-settings-box {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 50%;
}

.back-to-settings-container {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.back-to-settings-text {
    color: var(--red-shade);
    text-align: center;
    margin-bottom: 20px;
}

.back-to-settings-button {
    background-color: transparent;
    padding: 1rem 1rem;
    border: 2px solid var(--text-color);
    border-radius: 0.8rem;
    color: var(--text-color);
    outline: none;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.back-to-settings-button:hover {
    background-color: var(--purple-shade-2);
    transition: all 0.3s ease-in-out;
}

.dashboard-peak {
    grid-area: peak;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
}

.peak-data {
    font-size: 2rem;
    color: var(--red-shade);
    font-weight: 600;
}

.peak-date {
    font-size: 2rem;
    color: var(--yellow-shade);
    font-weight: 600;

}

.dashboard-usage {
    grid-area: time-slots;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: space-around;
}

.dashboard-usage-text {
    font-size: 1.8rem;
    font-weight: 600;
}


@media screen and (max-width : 992px) {
    .dashboard-grid-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min(1fr, 120px) 1fr;
        grid-template-areas: 'graph''peak''time-slots';
    }
}

@media screen and (max-width : 600px) {
    .dashboard-graph-controls {
        flex-direction: column;
    }
}