.documentation-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: flex-start;
}

.documentation-info {
    font-size: 18px;
}

.slot-list {
    text-align: flex-start;
}

/*!!!!!!!FIX: Cant use h2 and elements for style because they will be applied on all react pages!!!!!!!*/

/*h2 {
    font-size: 32px;
}*/

h3 {
    font-size: 26px;
}

img {
    border-radius: 30px;
}

.settings-img {
    width: 90%;
}

.power-img {
    width: 30%;
    height: auto;
}

.path-img {
    width: 80%;
    height: auto;
}

.contract-img {
    width: 80%;
    height: auto;
}

body {
    line-height: 1.6;
}

.container {
    max-width: 1800px;
    margin-top: 60px;
    margin: 0 auto;
    display: flex;
}

main {
    margin-top: 30px;
}

hr {
    color: var(--grey-shade);
    margin-left: 0;
    width: 80%;
}